header {
    position: relative;
    padding: 15px 30px;
    height: 60px;
}

#playerNameDisplay {
    position: absolute;
    right: 30px;
    /* 右端 */
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 0;
    color: purple;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

#stationControls button {
    height: 60px;
    margin: 5px;
    font-weight: bold;
    font-size: large;
}

#skipRound {
    width: 130px;
}

/*grid design*/
#grid td {
    width: 60px;
    height: 60px;
    border: 1px solid #a0a0a0;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

#grid .station {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*default*/
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: auto;
}

#grid .railwayStation {
    border-radius: 0%;
    background-color: black;
    color: white;
}

#grid .startStation {
    border: 5px solid;
}

/*start menu*/
#menuDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


#menuDiv input {
    width: 100%;
    margin-bottom: 10px;
}

#startGame:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/*game section*/
#gameDiv {
    display: flex;
    gap: 12px;
    margin: 0px auto;
    justify-content: center;
    width: fit-content;
}

#gridContainer {
    position: relative;
    width: 600px;
    height: 600px;
    display: block;
}

#description {
    flex: 3;
    margin: 0 20px;
}

#sidebar {
    flex: 3;
    display: flex;
    /*make child elements vertically*/
    flex-direction: column;
    padding-right: 20px;
    gap: 10px;
}

.selected-from {
    outline: 4px solid #2196F3;
}

.selected-to {
    outline: 4px solid #E91E63;
}

/*SVG*/

#grid {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-collapse: collapse;
    border-spacing: 0;
}


#segmentsLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    pointer-events: none;
}

.selected-from {
    outline: 3px solid orange;
}

.selected-to {
    outline: 3px solid cyan;
}

/*error box*/
#error {
    color: red;
}

#message {
    color: green;
}

#finalScore {
    font-size: 1.5rem;
    font-weight: bold;
}

#railWayScore span {
    margin-right: 6px;
    color: #7c7c7c;
}

#railWayScore .active {
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}