/*grid design*/
#grid td {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}

#grid .station {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*default*/
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: auto;
}

#grid .railwayStation {
    border-radius: 0%;
    background-color: black;
    color: white;
}

#grid .startStation {
    border: 5px solid;
}

/*start menu*/
#menuDiv {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#menuDiv input {
    width: 100%;
    margin-bottom: 10px;
}

#startGame:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/*game section*/
#gameDiv {
    /*make child elements align horizontally*/
    display: flex;
    gap: 20px;
    margin: 20px;
}

#gridContainer {
    /* occupy 3: ? in the flex-box*/
    flex: 3;
}

#sidebar {
    flex: 1;
    display: flex;
    /*make child elements vertically*/
    flex-direction: column;
    gap: 10px;
}

.selected-from {
    outline: 4px solid #2196F3;
}

.selected-to {
    outline: 4px solid #E91E63;
}